.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  font-size: 15px;
}

.WeatherForecast-temperatures {
  font-size: 15px;
}
.WeatherForecast-temperature-min {
  opacity: 0.75;
  margin-left: 5px;
}
.WeatherForecast canvas {
  padding-bottom: 3px auto 50px;
  position: relative;
  top: 7px;
}
