.WeatherForecast-day {
  font-size: 15px;
  text-align: center;
   color: blueviolet;
}

.WeatherForecast-temperatures {
  font-size: 15px;
}

.WeatherForecast-temperature-max {
  color: blueviolet;
}

.WeatherForecast-temperature-min {
  opacity: 0.75;
}

.WeatherForecast canvas {
  margin-top: 10px;
}
