.WeatherForecast-day {
  font-size: 15px;
  text-align: center;
   color: blueviolet;
}

.WeatherForecast-temperatures {
  font-size: 15px;
}

.WeatherForecast-temperature-min {
  opacity: 0.75;
}

.WeatherForecast canvas {
  margin-top: 20%;
  margin-bottom: 10%;
}
